.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  line-height: 50px;
  text-align: center;
}
.prompt:hover {
  color: goldenrod;
  border-radius: 5px;
}

p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

input {
  margin: 5px;
  width: 200px;
  border-radius: 5px;
}

button {
  margin: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: red;
  cursor: pointer;
}

img {
  background-color: white;
  border-radius: 5px;
  margin: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
