.App-div {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  line-height: 50px;
  text-align: center;
}

.search-bar {
  background-color: white;
  display: flex;

}

.results {
  background-color: goldenrod;
  display: flex;
  flex-wrap: wrap;
  
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
  color: white;
  background-color: #282c34;
  padding: 10px;
}

a:hover {
  cursor: pointer;
  color: goldenrod;
}

.prompt {
  font-size: 36px;
}

.prompt:hover {
  color: goldenrod;
  border-radius: 5px;
}

p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin: 5px;
  width: 200px;
  border-radius: 5px;
  padding: 7px;
}

select {
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
}

button {
  margin: 10px;
  border-radius: 5px;
  justify-items: center;
  padding: 5px;
  font-size: 18px;
}

button:hover {
  background-color: red;
  cursor: pointer;
  color: white
}

img {
  background-color: white;
  border-radius: 5px;
  margin: 10px;
}

.loading {
  animation: App-logo-spin infinite .2s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
